*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.addList{
  width: 20rem;
  background-color: aqua;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}

.completed {
  text-decoration: line-through;
}

.completed-icon {
  color: green;
}